<?xml version="1.0" encoding="UTF-8"?>

<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
    http://www.springframework.org/schema/security  http://www.springframework.org/schema/security/spring-security-3.1.xsd">


	<!-- Authentication policy for login page -->
	<http use-expressions="true" auto-config="true">
		<intercept-url pattern="/web/admin/**" access="hasRole('ROLE_ADMIN')" />
		<form-login login-processing-url="/web/login"
			always-use-default-target="false" login-page="${baseurl}loginp"
			authentication-success-handler-ref="authenticationSuccessHandler"
			default-target-url="${baseurl}" authentication-failure-handler-ref="authenticationFailureHandler" />
		<logout invalidate-session="true" logout-success-url="${baseurl}"
			logout-url="/web/logout" />
	</http>

	<authentication-manager>
		<authentication-provider>
			<user-service>
				<user name="${admin.username}" password="${admin.password}"
					authorities="ROLE_ADMIN, ROLE_USER" />
			</user-service>
		</authentication-provider>
	</authentication-manager>

	<beans:bean id="authenticationSuccessHandler"
		class="gr.bytecode.visitorphonebook.web.security.AuthenticationSuccessHandler">
	</beans:bean>

	<beans:bean id="authenticationFailureHandler"
		class="gr.bytecode.visitorphonebook.web.security.AuthenticationFailureHandler">
	</beans:bean>

	<beans:bean id="authenticationSuccessHandlerWithoutReferer"
		class="org.springframework.security.web.authentication.SavedRequestAwareAuthenticationSuccessHandler">
		<!-- After login, stay to the same page -->
		<beans:property name="useReferer" value="false" />
	</beans:bean>

</beans:beans>